body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background-color: lightgray;
}

h1 {
  margin-bottom: 0;
  width: 920px;
}

strong {
  font-size: 30px;
}

h2 {
  font-size: 3.25rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background-color: #636363;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background-color: lightgray;

  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 820px;
  margin: 0 auto 50px auto;
  text-align: justify;
  line-height: 1.6;
  color: #ecf0f1;
}

li {
  margin: 16px 0;
}

.typewriter {
  color: #333;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5.5s steps(100, end), blink-caret 0.75s infinite;
}
@media (max-width: 510px) {
  h1 {
    font-size: 1rem;
    line-height: 1.2;
    width: 289px;
  }
  #main {
    margin: 0;
  }
  #img-caption {
    font-size: 1.4rem;
  }
  .typewriter {
    animation-duration: 7s;
    animation: typing 5.5s steps(600, end), blink-caret 0.75s infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #d3d3d3;
  }
}
